.btn-primary {
  background-color: #03a9f4; /* futuristic-blue */
  border-color: #03a9f4; /* futuristic-blue */
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #7f00ff; /* futuristic-purple */
  border-color: #7f00ff; /* futuristic-purple */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #03a9f4; /* futuristic-blue */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: #7f00ff; /* futuristic-purple */
  border-color: #7f00ff; /* futuristic-purple */
}
