<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/client/src/index.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/client/src/assets/styles/theme.css">
</head>
<body>
    <header>
        <h1>{{ site.title }}</h1>
        <nav class="navbar">
            <ul>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about/">About</a>
            <a href="{{ site.baseurl }}/contact/">Contact</a>
            <a href="{{ site.baseurl }}/trades/">Trades</a>
            <a href="{{ site.baseurl }}/admin_dashboard/">Admin Dashboard</a>
            <a href="{{ site.baseurl }}/user_dashboard/">User Dashboard</a>
            </ul>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
